<!--templates/base.html-->
{% load static %}

<html>
    <head>
        <title>Blog Application</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>
                <a href="{% url 'home' %}">Home Page</a>
                 |
                <a href="{% url 'new_post' %}">+ New Blog Post</a> 
            </h1>
        </header>

        <div>
            {% block content %}
            {% endblock content %}
        </div>

    </body>
</html>