<!--templates/detail_article.html-->
{% extends 'base.html' %}

{% block content %}
    <div class="article-entry">
        <h2>{{ article.title }}</h2>
        <p>by {{ article.author }} | {{ article.date }}</p>
        <p>{{ article.body }}</p>
    </div>
    <p>
        <a href="{% url 'update_article' article.pk %}">Edit</a>
        |
        <a href="{% url 'delete_article' article.pk %}">Delete</a>
    </p>
    <p>Back to
        <a href="{% url 'list_articles' %}">All Articles</a>
    </p>
{% endblock content %}